 body {
        padding-top: 54px;
        background-color: rgb(230, 230, 230);
  }
 @media (min-width: 992px) {
        body {
          padding-top: 56px;
           background-color: rgb(230, 230, 230)
        }
 }